.wrapper {
    width: 85%;
    margin: 0 auto;
}

.dateArea {
    
    margin-bottom: 10px;
    align-items: center;

    div {
        display: flex;
    }
}


.newsCont {
    display: block;
}

.Title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 22px;
}

.image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}
