@import '/styles/text.scss';

.title {
  @include H2();
}

.chartWrapper {
  position: relative;
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  padding: 0 0 50%;
}

.chart {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  & tspan {
    @include Text();
  }
}